.makeitcenter {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

body {
    background-color: rgb(166, 166, 221, 0.2) !important;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(12, 12, 12, 0.2);
    background-color: rgba(0, 162, 255, 0.2)!important;
    transition: 0.3s;
}