body {
    background: #333;
    color: #fff; }
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8; }
    #home-section {
        
        min-height: 700px; }
        #home-section .dark-overlay {
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 700px; }
        #home-section .home-inner {
          padding-top: 150px; }
        #home-section .card-form {
          opacity: 0.8; }
        #home-section .fa {
          color: #008ed6;
          background: #fff;
          padding: 4px;
          border-radius: 5px;
          font-size: 30px; }

.admin_font{
    color: black;
}
.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(12, 12, 12, 0.2);
    background-color: rgba(0, 162, 255, 0.2)!important;
    transition: 0.3s;
}

